{{!-- STYLE --}}
<link rel="stylesheet" href="../styles/partials/exercises.css">



<section class="info">

		<div class="wrapper">
			<h1 class="info_title" style="font-weight: 800; color: #282A36;">Exercícios</h1>
			<p class="info_description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae qui eos esse enim tenetur autem dicta accusamus, tempore quo aspernatur, temporibus doloribus saepe fugiat consequatur velit delectus ipsa vitae.
			</p>
		</div>
		
	</section>


{{!-- QUESTION 1 --}}

<form class= "master_form" id="master_form" method="POST">
<section class="form form1">
	<p class="question"><b>Questão 1:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>	
		
		<input class=" false input_optionQ1" id="option1_q1" hidden type="radio" name="option1_q1">
		<label class="option"  for="option1_q1">a) option_1</label>

		<input class=" false input_optionQ1" id="option2_q1" hidden type="radio"  name="option2_q1">
		<label class="option"  for="option2_q1">b) option_1</label>
	
		<input class=" false input_optionQ1" id="option3_q1" hidden type="radio"  name="option3_q1">
		<label class="option"  for="option3_q1">c) option_1</label>
	
		<input class=" true input_optionQ1" id="option4_q1" hidden type="radio"  name="option4_q1">
		<label class="option"  for="option4_q1">d) option_1</label>
		
	<button type="button" class="send_answer send_answer1">Responder</button>

<div class="feedback">
	<div class="hidden correct_answer correct_answerQ1">
		<p style="color: #282A36;"><i style="color: #2DC670;" class="fas fa-check-circle"></i>
			<b style=" color: #2DC670;">PARABÉNS!!</b> <br>
			<b style=" color: #2DC670;">Resposta Correta</b></p>
	</div>
	<div class="hidden wrong_answer wrong_answerQ1">
		<p><i style=" color: #af231e;" class="fas fa-times-circle"></i>
			<b style=" color: #af231e;">RESPOSTA INCORRETA!</b>
	</div>
</div>


</section>

{{!-- QUESTÃO 02 --}}

<section class="form form2">
	<p class="question"><b>Questão 2:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<input class=" true input_optionQ2" id="option1_q2" hidden type="radio" name="option1_q2">
		<label class="option"  for="option1_q2">a) option_1</label>

		<input class=" false input_optionQ2" id="option2_q2" hidden type="radio"  name="option2_q2">
		<label class="option"  for="option2_q2">b) option_1</label>
	
		<input class=" false input_optionQ2" id="option3_q2" hidden type="radio"  name="option3_q2">
		<label class="option"  for="option3_q2">c) option_1</label>
		
		<input class=" false input_optionQ2" id="option4_q2" hidden type="radio"   name="option4_q2">
		<label class="option"  for="option4_q2">d) option_1</label>
	
	<button type="button" class="send_answer send_answer2">Responder</button>

<div class="feedback">
	<div class="hidden correct_answer correct_answerQ2">
		<p style="color: #282A36;"><i style="color: #2DC670;" class="fas fa-check-circle"></i>
			<b style=" color: #2DC670;">PARABÉNS!!</b> <br>
			<b style=" color: #2DC670;">Resposta Correta!</b></p>
	</div>
	<div class="hidden wrong_answer wrong_answerQ2">
		<p><i style="  color: #af231e;" class="fas fa-times-circle"></i>
			<b style="  color: #af231e;">RESPOSTA INCORRETA!</b>
	</div>
</div>

</section>


{{!-- QUESTION 3 --}}
<section class="form form3">
	<p class="question"><b>Questão 3:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<input class=" false input_optionQ3" id="option1_q3" hidden type="radio" name="option1_q3">
		<label class="option"  for="option1_q3">a) option_1</label>

		<input class=" false input_optionQ3" id="option2_q3" hidden type="radio"  name="option2_q3">
		<label class="option"  for="option2_q3">b) option_1</label>
	
		<input class=" true input_optionQ3" id="option3_q3" hidden type="radio"  name="option3_q3">
		<label class="option"  for="option3_q3">c) option_1</label>
		
		<input class=" false input_optionQ3" id="option4_q3" hidden type="radio"   name="option4_q3">
		<label class="option"  for="option4_q3">d) option_1</label>
	
	<button type="button" class="send_answer send_answer3">Responder</button>

<div class="feedback">
	<div class="hidden correct_answer correct_answerQ3">
		<p style="color: #282A36;"><i style="color: #2DC670;" class="fas fa-check-circle"></i>
			<b style=" color: #2DC670;">PARABÉNS!!</b> <br>
			<b style=" color: #2DC670;">Resposta Correta!</b></p>
	</div>
	<div class="hidden wrong_answer wrong_answerQ3">
		<p><i style="  color: #af231e;" class="fas fa-times-circle"></i>
			<b style="  color: #af231e;">RESPOSTA INCORRETA!</b>
	</div>
</div>

</section>


{{!-- QUESTION 4 --}}
<section class="form form4">
	<p class="question"><b>Questão 4:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<input class=" true input_optionQ4" id="option1_q4" hidden type="radio" name="option1_q4">
		<label class="option"  for="option1_q4">a) option_1</label>

		<input class=" false input_optionQ4" id="option2_q4" hidden type="radio"  name="option2_q4">
		<label class="option"  for="option2_q4">b) option_1</label>
	
		<input class=" false input_optionQ4" id="option3_q4" hidden type="radio"  name="option3_q4">
		<label class="option"  for="option3_q4">c) option_1</label>
		
		<input class=" false input_optionQ4" id="option4_q4" hidden type="radio"   name="option4_q4">
		<label class="option"  for="option4_q4">d) option_1</label>
	
	<button type="button" class="send_answer send_answer4">Responder</button>

<div class="feedback">
	<div class="hidden correct_answer correct_answerQ4">
		<p style="color: #282A36;"><i style="color: #2DC670;" class="fas fa-check-circle"></i>
			<b style=" color: #2DC670;">PARABÉNS!!</b> <br>
			<b style=" color: #2DC670;">Resposta Correta!</b></p>
	</div>
	<div class="hidden wrong_answer wrong_answerQ4">
		<p><i style="  color: #af231e;" class="fas fa-times-circle"></i>
			<b style="  color: #af231e;">RESPOSTA INCORRETA!</b>
	</div>
</div>

</section>



{{!-- QUESTION 5 --}}
<section class="form form5">
	<p class="question"><b>Questão 5:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<input class=" false input_optionQ5" id="option1_q5" hidden type="radio" name="option1_q5">
		<label class="option"  for="option1_q5">a) option_1</label>

		<input class=" true input_optionQ5" id="option2_q5" hidden type="radio"  name="option2_q5">
		<label class="option"  for="option2_q5">b) option_1</label>
	
		<input class=" false input_optionQ5" id="option3_q5" hidden type="radio"  name="option3_q5">
		<label class="option"  for="option3_q3">c) option_1</label>
		
		<input class=" false input_optionQ5" id="option4_q5" hidden type="radio"   name="option4_q5">
		<label class="option"  for="option4_q5">d) option_1</label>
	
	<button type="button" class="send_answer send_answer5">Responder</button>

<div class="feedback">
	<div class="hidden correct_answer correct_answerQ5">
		<p style="color: #282A36;"><i style="color: #2DC670;" class="fas fa-check-circle"></i>
			<b style=" color: #2DC670;">PARABÉNS!!</b> <br>
			<b style=" color: #2DC670;">Resposta Correta!</b></p>
	</div>
	<div class="hidden wrong_answer wrong_answerQ5">
		<p><i style="  color: #af231e;" class="fas fa-times-circle"></i>
			<b style="  color: #af231e;">RESPOSTA INCORRETA!</b>
	</div>
</div>

</section>

</form>
<button type="submit" form="master_form" class="send_answer finish" name="btnSubmit" >Próximo módulo</button>

<script type="text/javascript" src="../scripts/questions.js"></script>
