<footer id="footer">

		<div class="wrapper">
	
			<div class="logo">
				<img class="logo-img" src="../images/logo.png" alt="IFTM">
				<h1 class="logo-name">GESA</h1>
				<p class="Group">Grupo de estudos em <br> Sistema Agrosilvipastoril</p>
				</div>
		</div>
	
		<div class="contact">
			<div>
			<a href="mailto:gesaiftm@gmail.com" id="email"><i id="mail_icon" class="far fa-envelope" style="color: white;"></i>gesaiftm@gmail.com</a>
			</div>
			<div>
			<a href="https://chat.whatsapp.com/JWBzgsyMQsWG9ibh3MSYEg" id="whatsapp"> <i id="whatsapp_icon" class="fab fa-whatsapp"></i> <p id="whatsapp" class="cont">Grupo GESA</p> </a>
			</div>
			<div> 
			<a href="https://www.instagram.com/gesa_iftm/" id="insta"><i id="insta_icon" class="fab fa-instagram" style="color: white;"></i> <p id="insta" class="cont">Gesa_IFTM</p></a>
			</div>
		</div>
	</footer>
