<footer id="footer">

		<div class="wrapper">
	
			<div class="logo">
				<img class="logo-img" src="../images/logo_normal.png" alt="IFTM">
				<h1 class="logo-name">GESA</h1>
				<p class="Group">Grupo de estudos em <br> Sistema Agrosilvipastoril</p>
				</div>
		</div>
	
		<div class="contact">
			<div class="contact_card">
			<a href="mailto: gesaiftm@gmail.com" id="email"><i id="mail_icon" class="far fa-envelope" style="font-weight: 300" ></i>
			<br>
			<p id="email">gesaiftm@gmail.com</p> </a>
			</div>
			<div class="contact_card">
			<a href="https://chat.whatsapp.com/JWBzgsyMQsWG9ibh3MSYEg" id="whatsapp"> <i id="whatsapp_icon" class="fab fa-whatsapp" style="font-weight: 300" ></i> <br> <p id="whatsapp" class="cont">Grupo GESA</p> </a>
			</div>
			<div class="contact_card"> 
			<a href="https://www.instagram.com/gesa_iftm/" id="insta"><i id="insta_icon" class="fab fa-instagram" style="font-weight: 300" ></i> <br> 
			<p id="insta" class="cont">Gesa_IFTM</p></a>
			</div>
		</div>
	</footer>
