<header id=header>
 
		<div class="wrapper">
	
			<div class="logo">
				<img class="logo-img" src="../images/logo.png" alt="IFTM">
				<h1 class="logo-name">GESA</h1>
				<p class="Group">Grupo de estudos em <br> Sistema Agrosilvipastoril</p>	
			</div>
	
		
			<nav class="menu">
				<a href="/" class="menu-link">Sobre</a>
				<a href="#footer" title="No rodapé" class="menu-link">Contato</a>
				<a href="/subscription" class="menu-link">Inscrição</a>
				<a href="/login" class="menu-link">Sala de aula</a>
			</nav>
		
		</div>
	
		<div style="display: flex; align-items: center; align-content: center; justify-content: center; align-self: center; justify-self: center; height: 100%;">
			<button id="menu_button"><i class="fas fa-bars" style="color: white; font-size: 18px;"></i>
				<span class="menu_mobile hidden">
					<span id="close_menu_mobile"><i class="fas fa-angle-up"></i></span>
							<a href="/" class="menu_mobile_option">Sobre</a>
							<a href="#footer" class="menu_mobile_option">Contato</a>
							<a href="/subscription" class="menu_mobile_option">Inscrição</a>
							<a style="border-radius: 0px 0px 5px 5px" href="/login" class="menu_mobile_option">Sala de aula</a>
						</span>
					</button>
			
		</div>

	</header>