
  <title>Conteúdo - Minicurso ILPF</title>

<section style="padding-top: 0;" class="container container_mod1 container_func">
<section style="padding-top: 0;" id="module1_content">
<section class="info">

	<div class="wrapper">
		<h1 class="info_introduction">Introdução <br> ao Sistema ILPF</h1>
		<p class="info_description">
			Neste módulo iremos conhecer as principais caracterísitcas da Integração lavoura-pecuária-floresta, também conhecida como sistema Agrosilvipastoril. Apresentaremos as vantagens e limitações desse importante sistema no cerrado.
		</p>
	</div>
	<img style="box-shadow: none;" class="info_img" src="../images/module1/img_1.jpg" alt="">

</section>

<a href="./books/apostila.pdf" class="download_button">Baixar apostila</a>

<section class="container_text">

	<div class="wrapper">
		<h1 class="text_title"><b class="topic_number">01</b>Tópico</h1>
		<p class="text_content">
			&nbsp  	&nbsp Neste módulo iremos conhecer as principais caracterísitcas da Integração lavoura-pecuária-floresta, também conhecida como sistema Agrosilvipastoril. Apresentaremos as vantagens e limitações desse importante sistema no cerrado.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minima saepe, cumque culpa hic et blanditiis asperiores consequuntur, nemo sed veritatis quod officiis animi ducimus a repellendus nobis, iste voluptatibus?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eum eligendi provident tempora illo eveniet, aliquam, possimus, praesentium quod ducimus veniam fugit soluta ea quas. Iure nesciunt quam dignissimos corporis.
		</p>
	</div>
	
</section>

<section style="padding: 0; width: 100%;" class="container_dinamic">

	<section class="dinamic_buttons">
		<button class="d_button active dinamic-btn" data-target="content-1" data-target_mobile="content_mobile-1">
			Alguma coisa
		</button>


		<button class="d_button dinamic-btn" data-target="content-2" data-target_mobile="content_mobile-2	">
			Alguma coisa
		</button>


		<button class="d_button dinamic-btn" data-target="content-3" data-target_mobile="content_mobile-3">
			Alguma coisa
		</button>


	</section>

<section class="dinamic_content" style="width: 100%;">

		<p class="p_content content-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eius, repellendus, natus velit debitis rem aliquid soluta voluptate blanditiis mollitia culpa quisquam quidem saepe eligendi quo! Ullam voluptate dolore iusto! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, itaque voluptatem quod dolore, et id eaque minus temporibus, aliquam rem alias autem rerum? Iste quisquam eaque nostrum hic fuga fugiat! </p>

		<p class="p_content hidden content-2">gapsjdpogapomgopamweomg aoewmgaopm opamopmg opamweopgmaweorgmOPWEM GOPAEWJMG ONMWOPG WERGOPjejg jrjgskeropkhgboajegoJOP JSAERGA jrgoapjwpogj awergj awer ga Lorem ipsum dolor sit amet, consectetur adipisicing elit. At et sequi inventore ipsa, rerum, debitis ipsam earum vero voluptate, cumque ratione eaque. Nisi expedita consequatur dolore harum, nam eveniet rerum?</p>

		<p class="p_content hidden content-3">CONTENT 3 agfaewjhgioajhweo aiowe Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis cum, mollitia quaerat molestias rerum omnis impedit debitis exercitationem dicta, temporibus obcaecati eum laboriosam a ullam, doloribus nesciunt facere animi suscipit?</p>
</section>

</section>

<section class="container_text">
		
	<div class="wrapper">

		<p class="text_content">
			Neste módulo iremos conhecer as principais caracterísitcas da Integração lavoura-pecuária-floresta, também conhecida como sistema 

			<button class="word_link">Agrosilvipastoril
				<span class="word_description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum necessitatibus eaque, reprehenderit unde quibusdam cum soluta optio quam, odio, laudantium.</span>
			</button>

			. Apresentaremos as vantagens e limitações desse importante sistema no cerrado.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim minima saepe, cumque culpa hic et blanditiis asperiores consequuntur, nemo sed veritatis quod officiis animi ducimus a repellendus nobis, iste voluptatibus?
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eum eligendi provident tempora illo eveniet, aliquam, possimus, praesentium quod ducimus veniam fugit soluta ea quas. Iure nesciunt quam dignissimos corporis.
		</p>
</section>

<section class="wrapper_add_info">
	<p class="add_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aspernatur repudiandae aut, alias doloribus cumque! Ratione delectus sapiente soluta earum assumenda accusantium, consectetur asperiores ipsum eligendi expedita minus error nihil?</p>
</section>

<section class="video_wrapper">
	<p class="video_description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nisi assumenda laboriosam quaerat voluptate nemo veritatis quibusdam aperiam. Eum officia deleniti voluptas facere accusantium minus ipsa esse nostrum tenetur necessitatibus!</p>
	<video controls class="video_class" src="../../subscription/video/video1.mp4"></video>
</section>

<section class="learn_more" style="padding: 0; margin-top: 100px;">
	<i style="color: #282A36; padding: 8px; font-size: 8vw;" class="fas fa-book-reader"></i>
	<button class="button_visible_static">Saiba Mais</button>
	<div class="information_static">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi voluptas soluta sequi eligendi dolorum beatae adipisci, quisquam iure quae dolorem sunt, numquam fugiat impedit. Quibusdam aspernatur ipsum quos asperiores.</p>
	</div>
</section>

{{!-- STYLE --}}
<link rel="stylesheet" href="../styles/partials/exercises_ready.css">

<section class="info">

		<div class="wrapper">
			<h1 class="info_title" style="font-weight: 800; color: #282A36;">Exercícios</h1>
			<p class="info_description">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel recusandae qui eos esse enim tenetur autem dicta accusamus, tempore quo aspernatur, temporibus doloribus saepe fugiat consequatur velit delectus ipsa vitae.
			</p>
		</div>
		
	</section>


{{!-- QUESTION 1 --}}

<section class="form">
	<p class="question"><b>Questão 1:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>	
		<p class="option_R">a) option_1</p>
		<p class="option_R">b) option_1</p>
		<p class="option_R">c) option_1</p>
		<p class="option_R option_selected_R">d) option_1</p>
		
<div class="feedback">
	<div class="correct_answer_R  correct_answerQ5">
		<p style="color: #282A36;">
			<b>Feedback</b></p>
	</div>
</div>


</section>

{{!-- QUESTÃO 02 --}}

<section class="form">
	<p class="question"><b>Questão 2:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<p class="option_R option_selected_R">a) option_1</p>
		<p class="option_R">b) option_1</p>
		<p class="option_R">c) option_1</p>
		<p class="option_R">d) option_1</p>

<div class="feedback">
	<div class="correct_answer_R  correct_answerQ5">
		<p style="color: #282A36;">
			<b>Feedback</b></p>
	</div>
</div>

</section>


{{!-- QUESTION 3 --}}
<section class="form">
	<p class="question"><b>Questão 3:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<p class="option_R">a) option_1</p>
		<p class="option_R">b) option_1</p>
		<p class="option_R option_selected_R">c) option_1</p>
		<p class="option_R">d) option_1</p>

<div class="feedback">
	<div class="correct_answer_R  correct_answerQ5">
		<p style="color: #282A36;">
			<b>Feedback</b></p>
	</div>
</div>

</section>


{{!-- QUESTION 4 --}}
<section class="form">
	<p class="question"><b>Questão 4:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<p class="option_R option_selected_R">a) option_1</p>
		<p class="option_R">b) option_1</p>
		<p class="option_R">c) option_1</p>
		<p class="option_R">d) option_1</p>

<div class="feedback">
	<div class="correct_answer_R  correct_answerQ5">
		<p style="color: #282A36;">
			<b>Feedback</b></p>
	</div>
</div>

</section>



{{!-- QUESTION 5 --}}
<section class="form">
	<p class="question"><b>Questão 5:</b> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente omnis fugiat saepe quaerat optio est recusandae esse animi repellat. Molestias tenetur est a perspiciatis qui maiores officia perferendis at natus.</p>
		
		<p class="option_R">a) option_1</p>
		<p class="option_R option_selected_R">b) option_1</p>	
		<p class="option_R">c) option_1</p>
		<p class="option_R">d) option_1</p>

<div class="feedback">
	<div class="correct_answer_R  correct_answerQ5">
		<p style="color: #282A36;">
			<b>Feedback</b></p>
	</div>
</div>

</section>
</section>
</section>

