<section style="padding-top: 0;" class="container container_func container_mod2">

<section class="info">

	<div class="wrapper">
		<h1 class="info_introduction">Manejo da Fertilidade<br>do Solo em áreas de ILPF</h1>
		<p class="info_description">
			Neste módulo serão apresentados os fatores que afetam a disponibilidade dos nutrientes para as plantas e como estes devem ser manejados, iniciando-se com a correta análise química e física do solo, além de uma adequada correção da acidez, adubação e manejo dos resíduos orgânicos. Será demonstrado como a fertilidade do solo é essencial ao sucesso do sistema.

		</p>
	</div>
	<img style="box-shadow: none;" class="info_img " id="icon_img" title="vecteezy.com" src="../images/module2/img_1.jpg" alt="">

</section>

<a href="./books/apostila.pdf" class="download_button">Baixar apostila</a>

</section>