<section style="padding-top: 0;" class="container container_func container_mod3">

<section class="info">

	<div class="wrapper">
		<h1 class="info_introduction">Plantio de culturas anuais em áreas de ILPF</h1>
		<p class="info_description">
      Neste módulo iremos apresentar as opções de culturas anuais para o sistema agrossilvipastoril. <br>
      No cerrado, apresentando sua importância no sistema, suas vantagens e limitações, assim como seu manejo adequado para alta produtividade.

		</p>
	</div>
<img style="box-shadow: none;" class="info_img " id="icon_img" title="pngtree.com" src="../images/module3/img_1.png" alt="">

</section>

<a href="./books/apostila.pdf" class="download_button">Baixar apostila</a>

</section>