{{!-- STYLE --}}
<link rel="stylesheet" href="../../styles/partials/schedules.css">

<!--Módulo 1-->

<section class="module_info">

  <div class="module_title">
    <h1 class="module_number">1°</h1>
    <h1 class="module_name">MANEJO DE SOLOS</h1>
  </div>

  <div class="module_title">
    <img class="teacher_img" src="../images/teacher_Luiz.jpg" alt="Professor" />

    <h1 class="module_teacher_name"><b style="font-weight: 900;">PROF:</b>
      FULANO DE TAL</h1>

  </div>

</section>

<section class="schedule">

  <div class="lessons">
    <ul>

      <li style="list-style: none; font-weight: 800" class="module_lesson"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:</b>
        4 hrs
      </li>

      <li class="module_lesson"><b style=" color: #2DC670">Aula 1:</b>
        INTRODUÇÃO AO ILPF
      </li>

      <li class="module_lesson"><b style=" color: #2DC670">Aula 2:</b>
        Análise de solo
      </li>

      <li class="module_lesson"><b style=" color: #2DC670">Aula 3:</b>
        Cobertura de solo
      </li>

      <li class="module_lesson"><b style=" color: #2DC670">Aula 4:</b>
        Fertilidade de solo
      </li>

      <li class="module_lesson">Exercícios
      </li>
    </ul>

  </div>

  <div class="online_class">

    <p style="text-align: center; font-weight: 800;">ENCONTRO SÍNCRONO: </p>

    <p style="margin-top: 10px;"><i
        style="font-size: 35px; padding-right: 10px; color:#0C9F4C;"
        class="far fa-calendar-alt"
      ></i>
      00/00/21</p>

    <p style="margin-top: 10px;">
      <i
        class="far fa-clock"
        style="font-size: 35px; padding-right: 10px; line-height: normal; color:#0C9F4C;"
      ></i>00:00 - Horário de Brasília</p>

    <li
      style="color: #44475A; font-weight: 300; line-height: normal; font-size: 18px;"
    >O Link da reunião será disponibilizado por e-mail após a inscrição no
      evento
    </li>

  </div>

</section>

