{{! STYLE }}
<link rel="stylesheet" href="../../styles/partials/schedules.css" />

<!--Módulo 1-->

<section class="schedule_master_wrapper" id="schedule_master">
  <section class="module_info">

    <div class="module_title">
      <h1 class="module_number">1°</h1>
      <h1 class="module_name">Introdução ao ILPF</h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class = "color_green">Tópico 1: &nbsp</b>
        Contextualizando;
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        Sustentabilidade do Sistema;
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Benefícios do ILPF;
      </p>

      <p class="module_lesson"><b style=" color: #2DC670;">Tópico 4: &nbsp</b>
        Expansão do Sistema no Últimos anos;
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 5: &nbsp</b>
        Considerações;
      </p>

      <p class="module_lesson">4 Exercícios
      </p>

    </div>

  </section>

  <section class="module_info">

    <div class="module_title">
      <h1 class="module_number">2°</h1>
      <h1 class="module_name">Manejo da Fertilidade do Solo em ILPF</h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 1: &nbsp</b>
        Introdução
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        Atributos físicos do solo
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Atributos químicos do solo
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 4: &nbsp</b>
        Atributos biológicos do solo
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 5: &nbsp</b>
        Considerações
      </p>

      <p class="module_lesson">
        5 Exercícios
      </p>

    </div>

  </section>

  <section class="module_info">

    <div class="module_title">
      <h1 class="module_number">3°</h1>
      <h1 class="module_name">Plantio de Culturas Anuais</h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 1: &nbsp</b>
        Introdução
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        integração Lavoura-Floresta
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Integração Lavoura-Pecuária-Floresta
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 4: &nbsp</b>
        Principais Culturas Agrícolas em ILPF
      </p>

      <p class="module_lesson">
        5 Exercícios
      </p>

    </div>

  </section>

  <section class="module_info">

    <div class="module_title">
      <h1 class="module_number">4°</h1>
      <h1 class="module_name">Escolha da Forrageira</h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 1: &nbsp</b>
        Introdução
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        Espécies de Gramíneas Mais Utilizadas em ILPF
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Modalidades de Plantio
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 4: &nbsp</b>
        Formas de Semeadura
      </p>

      <p class="module_lesson">
        5 Exercícios
      </p>

    </div>

  </section>

  <section class="module_info">

    <div class="module_title">
      <h1 class="module_number">5°</h1>
      <h1 class="module_name">Arranjo Florestal e Escolha
        <br />
        da Espécie
      </h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 1: &nbsp</b>
        Introdução
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        Arranjo Florestal
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Escolha da Espécie
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 4: &nbsp</b>
        Principais espécies Utilizadas no Bioma Cerrado
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 5: &nbsp</b>
        Considerações
      </p>

      <p class="module_lesson">
        5 Exercícios
      </p>

    </div>

  </section>

  <section class="module_info" id="module_info_6">

    <div class="module_title">
      <h1 class="module_number">6°</h1>
      <h1 class="module_name">Aspectos Econômicos</h1>
    </div>

    <div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >CARGA HORÁRIA:&nbsp</b>
        4 hrs
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 1: &nbsp</b>
        Introdução
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 2: &nbsp</b>
        Características Econômicas da Integração Lavoura-Pecuária-Floresta
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 3: &nbsp</b>
        Principais Aspectos aue as Análises Financeiras de Sistemas de
        Integração têm Demonstrado
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 4: &nbsp</b>
        Análise de Viabilidade Econômica da Implantação do Sistema Ilpf em
        Brotas-Sp
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 5: &nbsp</b>
        Receita Bruta Projetada
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 6: &nbsp</b>
        Lucro Total do ILPF e Valores Unitários
      </p>

      <p class="module_lesson"><b class="color_green">Tópico 7: &nbsp</b>
        Considerações
      </p>

      <p class="module_lesson">
        5 Exercícios
      </p>

    </div>

  </section>

</section>