<title>Sala de aula</title>

	<!-- STYLE -->
  <link rel="stylesheet" href="../styles/classroom.css">
	<link rel="stylesheet" href="../styles/partials/buttons.css">
	<link rel="stylesheet" href="../styles/partials/info.css">
	<link rel="stylesheet" href="../styles/partials/container.css">

	<script type="text/javascript" src="../scripts/menu_mob.js" defer></script>

<body>

	<section class="container">
	<div class="container_buttons_access">
		<form id="form_hidden" style="display: none;" method="POST">
		<input type="hidden" name="input_hidden">
		</form>
			<button form="form_hidden" type="submit" style="margin-left: 0;" id="button_access_schedule" class="button_light">ACESSAR CONTEÚDO</button>
		
			<button style="margin-left: 0;" id="button_access_schedule" class="button_light"><a class="link_button" href="/subscription#program">VER O CRONOGRAMA</a></button>
		</div>

	<section class="info" style="flex-direction: column;" >

		<div class="wrapper">
		<h1 class="info_title" style="text-align: center;" >BOAS VINDAS</h1>
		<p class="video_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem incidunt atque provident inventore rerum quasi eum. Ullam minus illum nisi laudantium aperiam ex, impedit delectus iusto sunt distinctio placeat consequatur!</p>
		
</div>

		<div class="video_wrapper">
		<video controls class="apresentation_video">
			<source src="../videos/video1.mp4" type="video/mp4">
		</video>
	</div>
</section>
</section>

