<!--Style-->
<link rel="stylesheet" href="./styles/about.css">
<link rel="stylesheet" href="./styles/partials/buttons.css">
<link rel="stylesheet" href="./styles/partials/info.css">
<link rel="stylesheet" href="./styles/partials/invite.css">

<title>GESA - IFTM</title>

<div class="hero">

	<div class="legend">
		<h1 id="legend_1">
			VOCÊ JÁ CONHECE O <br> <b style="color:#43ED87">SISTEMA ILPF</b>?
		</h1>
	</div>
	
</div>


<section class="container">

<section class="info">

	<div class="wrapper">
		<h1 class="info_title">O ILPF</h1>
		<p id="info_description">
			O Sistema de Integração Lavoura-Pecuária-Floresta é uma 
			estratégia de produção sustentável que integra atividades 
			agrícolas, pecuárias e florestais, realizadas na mesma área. 
			A implantação desses sistemas ocorre com base nos princípios 
			da rotação de culturas e do consórcio.
		</p>

	</div>

	<img title="revistarural.com.br" class="info_img" src="./images/img_1.png" alt="Bois">

</section>


<section class="info" id="info">

	<div class="wrapper">
		<h1 class="info_title">GESA</h1>
		<p id="info_description">
			O Grupo de Estudos em Sistema Agrossilvipastoril é uma iniciativa do Instituto Federal de Ciência e Tecnologia do Triângulo Mineiro (IFTM), campus Uberlândia-MG, que visa a busca de conhecimento acerca dessa nova maneira de pensar a agricultura.
		</p>
	</div>

	<img title="folhadelondrina.com.br" class="info_img" src="./images/img_2.png" alt="IFTM">

</section>



<section class="info" id="info">

	<div class="wrapper">
		<h1 class="info_title">ILPF NO CERRADO</h1>
		<p id="info_description">
			A implantação do sistema ILPF no bioma Cerrado Brasileiro é um desafio para a maioria dos produtores, por conta do períodos prolongados de estiagem, solos probres e fificuldades no manejo.
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere voluptatum maxime dolorem soluta magni, voluptates quod ipsum qui doloribus possimus, asperiores aliquam consequatur assumenda hic ullam illo voluptas quae pariatur?
		</p>
	</div>

	<img class="info_img" src="./images/img_3.jpg" alt="IFTM">

</section>

		<h1 class="subtitle">QUER CONHECER MAIS DO SISTEMA ILPF E SUA IMPLANTAÇÃO NO CERRADO?</h1>
	

<section class="info">
	

	<img class="invite_img" src="./images/img_4.png" alt="Curso">

	<div class="wrapper_invite">
		<p class="invite" id="line_1">CONHEÇA O NOSSO</p>
		<p class="invite" id="line_2">MINICURSO</p>
		<p class="invite" id="line_3">100% ONLINE</p>
		<p class="invite" id="line_4">E 100% GRATUITO</p>
		<a href="/subscription" class ="button_light">Vamos Lá!</a>
	</div>
</section>

</section>

{{!-- SCRIPTS --}}
<script type="text/javascript" src="../scripts/header_change.js" ></script>
<script type="text/javascript" src="../scripts/menu_mob.js" ></script>