<link rel="stylesheet" href="../styles/login.css">

<script type="text/javascript" src="../scripts/menu_mob.js" defer></script>
	
	<title>Login - GESA</title>
</head>

<body>

  <section class="box_form">
  <form class="login_form" action="" method="POST">

<p class="obs" >Para acessar a sala de aula, informe seu CPF no campo abaixo:</p>
    <label class="label_form">Usuário: <b style="font-weight: 400; color: white;">*</b> </label>
    <input name="cpf" id="login_cpf" class="input_form" type="number" placeholder="Digite seu CPF">
  
    <div style="align-items: center; justify-content: center; align-content: center;">
      <button class="login_button"><i class="fas fa-sign-in-alt little_icon"></i></i></button>
      </div>
  
  </div>

  </section>

<div  class="wrapper_cad" >
    <p style="text-align: center;">Ainda não fez seu cadastro?
      <br>
      <a href="/subscription#subscribe_form">clique aqui</a>
    </p>
  </div>
