<!-- STYLE -->
	<link rel="stylesheet" href="../styles/content.css">
	<link rel="stylesheet" href="../styles/partials/container.css">
	<link rel="stylesheet" href="../styles/partials/info.css">
	<link rel="stylesheet" href="../styles/partials/container_text.css">

	<!--SCRIPTS-->
	<script type="text/javascript" src="../scripts/content_dinamic.js" defer></script>
	<script type="text/javascript" src="../scripts/menu_mob.js" defer></script>
  <script type="text/javascript" src="../scripts/modules.js" defer></script>

	<!--BUTTONS-->
	<link rel="stylesheet" href="../styles/partials/dinamic_buttons.css">
	<link rel="stylesheet" href="../styles/partials/link_word.css">
	<link rel="stylesheet" href="../styles/partials/learn_more.css">


<div class="release">

<div class="wrapper_release">
<p>O <b>módulo 4</b> foi desbloqueado.<i id="unlock_icon" class="fas fa-unlock"></i> <br> Bons estudos! </p>
</div>

</div>


<section style="padding-bottom: 0; padding-top: 0" class="container">
<div class="container_module_btns" style="margin-bottom: 200px;" >

	<div class="line">
		<span class="line_btn"></span>
	</div>
	
	<div class="buttons">
	<button class="module_btn active mod1_btn" id="mod1_btn">Módulo 1</button>
	<button class="module_btn active mod2_btn" id="mod2_btn">Módulo 2</button>
	<button class="module_btn active mod3_btn" id="mod3_btn">Módulo 3</button>
	<button class="module_btn active mod4_btn" id="mod4_btn">Módulo 4</button>
	<button class="module_btn mod5_btn" id="mod5_btn">Módulo 5</button>
	<button class="module_btn mod6_btn" id="mod6_btn">Módulo 6</button>
</div>
</div>
</section>

{{>mod1_partial}}
{{>mod2_partial}}
{{>mod3_partial}}


<section style="padding-top: 0;" class="container container_mod4 container_func">
<section style="padding-top: 0;" id="module2_content">
<section class="info">

	<div class="wrapper">
		<h1 class="info_introduction">Escolha da forrageira para área de ILPF</h1>
		<p class="info_description">
			Neste módulo vamos conhecer as principais espécies de gramíneas utilizadas em ILPF e os benefícios que esse elemento traz para esse tipo de integração.
		</p>
	</div>
	<img style="box-shadow: none;" class="info_img " id="icon_img" title="pngtree.com" src="../images/module4/img_1.jpg" alt="">

</section>

<a href="./books/apostila.pdf" class="download_button">Baixar apostila</a>
</section>
</section>