<div class="wrapper_div" >
  
  <h1 class="redirect_h1">Parabéns {{name}}! Sua inscrição foi efetuada com sucesso!</h1>

  <i class="icon fas fa-check-circle"></i>

  <h1 class="redirect_h1">Faça <a href="/login">login</a> e acesse o conteúdo, <br> ou clique em "sala de aula"</h1>
</div>

<style>
.wrapper_div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 200px, 200px;
  flex-direction: column;
  text-align: center;
}

.redirect_h1 {
  font-size: 20px;
  font-weight: 600;
  color: #44475A;
}

.wrapper_div .icon{
  padding: 50px;
  font-size: 80px;
  color: #2DC670;
}
</style>