	{{!-- STYLE --}}
	<link rel="stylesheet" href="../styles/subscription.css">
	<link rel="stylesheet" href="../styles/partials/info.css">
	<link rel="stylesheet" href="../styles/partials/container.css">
	<link rel="stylesheet" href="../styles/partials/alerts.css">

	{{!-- SCRIPTS --}}
	<script type="text/javascript" src="../scripts/header_change.js" defer></script>
	<script type="text/javascript" src="../scripts/menu_mob.js" defer></script>
		<script type="text/javascript" src="../scripts/alerts.js" defer></script>

	<title>INSCRIÇÃO - GESA</title>

{{#each identical_cpf}}

<div class="alert alert_danger" name="error">

<div class="wrapper_alert_danger">
<p>O CPF que você digitou já está cadastrado.<i onclick="close_alert()" class="far fa-times-circle" id="close_button" style="padding: 0; display: block;"></i></p>
</div>

</div>
{{/each}}

	<div class="hero">
	
		<div class="legend">
			<h1 id="legend_1">
				IMPLANTAÇÃO DO <br> <b style="color:#43ED87">SISTEMA ILPF NO CERRADO</b>
			</h1>
	
		</div>
		
	</div>

	<section class="container">
	<section class="info" style="flex-direction: column;" >

		<div class="wrapper" style="margin: 0;" >
		<h1 class="info_title">APRESENTAÇÃO</h1>
		<p class="info_description">Neste curso online de capacitação, você irá conhecer mais sobre o sistema de Integração Lavoura-Pecuária-Floresta, terá acesso a apostilas, vídeos e exercícios elaborados por profissionais capacitados e, ao final do curso, receberá um certificado de participação. </p>
	

		<p class="subtitle"><br>VEJA MAIS INFORMAÇÕES ABAIXO:</p>
		<br>

</div>

		<div class="video_wrapper">
		<video controls class="apresentation_video">
			<source src="../videos/video1.mp4" type="video/mp4">
		</video>
	</div>
	
	</section>

	<section class="info">

	<div class="wrapper">
		<h1 id="program" class="info_title">O QUE VOCÊ VAI APRENDER?</h1>
	</div>

	</section>


{{!-- SCHEDULE --}}

{{>schedule}}


{{!-- Live --}}

<section class="info" style="flex-direction: column;" >

		<div class="wrapper" style="margin: 0;" >
		<h1 class="info_title">LIVE DE ENCERRAMENTO</h1>
		<p class="info_description" style="flex-direction: column;">
		&nbsp &nbsp Ao final do curso haverá uma apresentação ao vivo com os organizadores do evento, onde serão apresentados resultados de pesquisas realizdas  no IFTM - Campus Uberlândia, sobre o sistema ILPF. A participação na reunião não será obrigatória para receber o certificado. <br> &nbsp &nbsp Durante a live poderão ser sanadas as dúvidas referentes ao conteúdo. <br>
		<b>&nbsp &nbsp O link da reunião no Google Meet será enviado no seu e-mail.</b>
		 </p>
		

		<div class="live_card" >
		<p><i class="icon_info far fa-calendar-alt"></i>22/11/2021</p>
		<p style="padding-top: 20px"><i class=" icon_info far fa-clock"></i>19:30 (Horário de Brasília)</p>
		</div>

		<div class="live_card" >
		<div style="margin-left: 10px;" class="lessons">

      <p style="list-style: none; font-weight: 800; text-align: center;"><b
          style=" color: #2DC670; font-weight: 800"
        >ORGANIZADORES:</b>
         
      </p>

      <p class="module_lesson"><b>Professor:</b> Luis Augusto da Silva Domingues
      </p> <br>

			<b
        >ESTUDANTES DE AGRONOMIA:</b>
      <p class="module_lesson">Siro Paulo Moreira
      </p>

      <p class="module_lesson">Alexandre Naves
      </p>
			<p class="module_lesson">Cristiane Araújo
      </p>


    </div>
		</div>
		</div>
		</section>

{{!-- Certified --}}

<section class="info" style="flex-direction: column;" >

		<div class="wrapper" style="margin: 0;" >
		<h1 class="info_title">CERTIFICADO</h1>
		<div style="width: 100%; display: flex; justify-content: center;">
		<i style=" padding: 0px 50px 0px 50px; font-size: 80px; color: #2DC670;" class="fas fa-user-check"></i> 
	</div>
		<p class="info_description" style="display: inline;" ><br>
		&nbsp &nbsp Os certificados de participação, com reconhecimento nacional serão emitidos semanas depois da conclusão do curso, pelo seu e-mail cadastrado, constando uma <b>carga horária total de 24 hrs.</b>
		 </p>
		</div>
		</section>

<!--SUBSCRIBE-->
<section class="info" style="flex-direction: column; margin-top: 100px" >

	<div class="wrapper">
		<h1 class="info_title">INSCREVA-SE</h1>
	</div>

		<p style="margin-bottom: 50px;" >A incrição só é realizada uma vez, e a sala de aula só pode ser acessada se o usuário estiver com seu CPF cadastrado.</p>

</section>

{{>form_subscription}}

</section>
