.form {
  padding: 30px 0px;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  flex-direction: column;
}

.form .wrapper_options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.form .question {
  margin-bottom: 20px;
}

.option_R {
  font-size: 18px;
  line-height: 30px;
}

.option_selected_R {
  color: #2DC670;
  font-size: 22px;
}

.feedback .correct_answer_R {
  animation: feedback 1s ease;
  position: absolute;
  border-radius: 8px;
  padding: 10px;
  border: solid 3px #282A36;
}



