#footer {
  display: flex;
  background-color: #2DC670;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
}


#footer .wrapper {
  padding: 2.5vh 10vw;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#footer .wrapper .logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#footer .wrapper .logo .logo-img {
  margin-right: 10px;
  width: 25px;
}

#footer .wrapper .logo .logo-name {
  color: white; 
  font-weight: 800;
  font-size: 25px;
}

#footer .wrapper .logo .Group {
  color: white;
  font-weight: 300;
  font-size: 12px;
  align-items: center;
  position: relative;
  margin-left: 30px;
  opacity: 80%;
}

#footer .wrapper .logo .Group::before {
  content: "";
  position: absolute;
  width: 2px;
  bottom: 4px;
  height: 34px;
  left: -15px;
  background-color: white;
  transition: ease .3s;
  align-items: center;
  opacity: 75%;
  display: flex;
}

#footer .contact {
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  padding: 2vw;
  justify-content: space-between;
}

#footer .contact #email #mail_icon, #footer .contact #insta #insta_icon, #footer .contact #whatsapp #whatsapp_icon {
  padding: 5vw;
  font-size: 30px;
  padding: 0;
  margin-right: 10px;
}

#footer .contact #insta, #footer .contact #whatsapp{
   margin-left: 5vw; 
}
  
#footer .contact #email, #footer .contact #insta, #footer .contact #whatsapp {
  text-decoration: none; 
  color: white;
  background-color: transparent;
}
#footer .contact #email:hover, #footer .contact #insta:hover {
  cursor: pointer;
  text-decoration: underline white;
}

@media (max-width: 1030px){
  #footer .wrapper .logo .Group{
    display: none;
    }

@media (max-width: 800px){

  #footer .wrapper{
    display: none;
    }
    
    #footer .contact #email #mail_icon, #footer .contact #insta #insta_icon {
    padding: 5vw;
    font-size: 25px;
    padding: 0;
    margin-right: 10px;
    margin-left: 15vw;
    }
    }
  
@media (max-width: 500px){
  #footer .contact #email #mail_icon, #footer .contact #insta #insta_icon {
      padding: 5vw;
      font-size: 25px;
      padding: 0;
      margin-right: 10px;
      margin-left: 5vw;
    }
}}